{{#if updateQuestionForm}}
  <h3>Update {{question.author}}'s  question: {{question.content}}</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">User Name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes:</label>
        {{input value=notes id="notes"}}
      </div>

      <button {{action 'update' question}}>Update</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm' question}}>Alter this question</button>
{{/if}}
